.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
}

.table_header{
    display: flex;
    flex-direction: row;
    width: 60%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.514);
    border-radius: 3px;
    margin: 2vh 0 1vh 0;
    padding: 1vh 0 2vh 0;
}

.col_item, .col_header, .col_header_date{
    flex-basis: 15%;
    text-align: center;
}

.col_item_site, .col_header_site{
    flex-basis: 50%;
}

.col_item_action{
    flex-basis: 5%;
    text-align: end;
    cursor: pointer;
}

.col_header, .col_header_date, .col_header_site{
    flex-basis: 20%;
    text-align: start;
    margin-left: 5%;
}

.col_header_site{
    flex-basis: 65%;
}

.table_rows{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 0 4vh 0;
    border-radius: 20px;
    overflow-y: scroll;
}

.table_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    font-size: 1.25rem;
    background-color: rgba(212, 206, 206, 0.933);
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 20px;
    margin: 5px;
}

.empty_table_row{
    width: 90%;
    height: 100%;
    color: rgba(110, 110, 110, 0.7);
    font-size: 1.25rem;
    padding: 21px 21px;
    background-color: rgba(252, 252, 252, 0.7);
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px;
}