.header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30px 10px; */
    height: 6vh;
    background-color: red;
}

.logo {
    width: 100px;
    height: 60px;
}
