.header {
    display: flex;
    align-items: center;
    justify-content: start;
    /* padding: 30px 10px; */
    height: 8vh;
    background-color: rgb(26, 25, 25);
}

.logo {
    margin: 0 0 0 10px !important;
}
