.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding: 30px 10px; */
    height: 8vh;
    /* background-color: rgba(13, 13, 13, 0.500); */
}

.logo {
    margin: 0 10px 0 10px !important;
    padding: 10px !important;
    cursor: pointer;
}
